* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol {
  list-style: inside decimal;
}

ul {
  list-style: inside;
}

body , #cabecalho {
  background-color: rgb(253, 251, 251);
}

body {
  font-family: Montserrat, sans-serif;
  color: rgb(36, 36, 36);
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 6px;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#janela-topo {
  background-color: rgb(240, 240, 244);
  border: 1px solid rgb(204, 204, 204);
  border-bottom-color: rgb(216, 216, 216);
  box-shadow: 0 10px 15px 4px rgba(167, 167, 167, 0.56);
  border-radius: 12px 12px 0 0;
  display: flex;
  width: 95%;
  margin: 12px auto 0;
  padding: 12px 16px 16px;
  text-align: center;
  align-items: baseline;
}

.botao-macos {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin-right: 4px;
  margin-top: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.fechar {
  background-color: rgb(255, 96, 92);
}

.minimizar {
  background-color: rgb(255, 189, 68);
}

.maximizar {
  background-color: rgb(0, 202, 78);
}

#janela-titulo {
  display: flex;
  margin: 0 auto;
  gap: 6px;
}

#cabecalho nav a {
  transition: 0.2s;
}

#cabecalho li {
  display: inline-block;
}

#titulo , #cabecalho li , #cabecalho li a {
  font-size: 16px;
  font-weight: 600;
  color: rgb(71, 70, 72);
}

#cabecalho nav a:hover {
  opacity: 0.6;
}

#janela-container {
  width: 95%;
  margin: 0 auto;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 12px;
  box-shadow: 0 10px 15px 4px rgba(167, 167, 167, 0.56);
}

.padding-lateral {
  padding-left: 36px;
  padding-right: 36px;
}

#about {
  display: flex;
  gap: 32px;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding-top: 100px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgb(228, 228, 228);
  flex-wrap: wrap;
}

#about div:nth-child( 2 ) {
  flex: 0.5;
}

#about ul {
  list-style: none;
  margin-top: 12px;
}

#about ul li i {
  margin-right: 4px;
}

#about ul li > a {
  color: rgb(147, 61, 148);
  transition: 0.2s;
}

#about ul li > a:hover {
  color: rgb(118, 31, 119);
}

#about aside {
  flex: 1;
  padding-right: 12px;
}

#minha_foto {
  width: 180px;
  margin: 0 auto;
  border-radius: 50%;
}

#conteudo {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
}

.lado-esquerdo {
  flex: 1;
  text-align: justify;
}

.lado-direito {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  row-gap: 32px;
}

.lado-direito ul , .lado-direito ol {
  flex: 1;
}

#rodape {
  color: rgb(139, 139, 139);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  margin-top: 32px;
}

#rodape table {
  margin: 0 auto;
}

#rodape a {
  color: black;
}
